.nav-item{
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.nav-item:hover{
   background-color: yellow;
   color: black;
}